
:root{
  --primary-color: #495E57;
  --primary-color2: #f4ce14;
  --secondary-color: #ee9972;
  --secondary-color2: #fbdabb;
  --secondary-color3: #edefee;
  --secondary-color4: #333333;
}

* {
  padding: 0px;
  margin: 0px;
}

section {
  padding: 0px 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px;
}

nav > ul {
  display: flex;
  gap: 30px;
}

nav > ul > li > a {
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
}

nav > ul > li > a:hover {
  color: var(--primary-color2);
}

ul {
  padding:0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
#footer {
  background-color: #e8eada;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-top: 50px;
}

.footer-info > img {
  transform: rotate(45deg);
}

.copyright {
  display: flex;
  justify-content: center;
  color: black;
  width: 100%;
  padding: 10px;
  gap: 5px;
}

#hero {
  justify-content: space-between;
  background-color: var(--primary-color);
  height: 350px;
  margin-bottom: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 5rem 1.2rem 5rem;
  margin-top: -1.4rem;
}

.hero-left-section > h1 {
  margin-top: 35px;
  color: var(--primary-color2);
  font-size: 35px;
  font-family:'Times New Roman', Times, serif;
}

.hero-left-section > h3 {
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}

.hero-left-section > h3,
.hero-left-section > p {
  color: white;
}

.hero-left-section > p {
  width: 250px;
  margin-top: 20px;
}

.button {
  background-color: var(--primary-color2);
  padding: 10px 20px;
  border-style: none;
  border-radius: 5px;
  font-weight: 800;
}

.button:hover {
  cursor: pointer;
}

.button.reserve-button {
  margin-top: 20px;
}

.hero-image {
  position: relative;
  top: 100px;
  border-radius: 20px;
}

#specials-section {
  margin-bottom: 80px;
}

.specials-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.special {
  background-color: var(--secondary-color3);
  width:25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.special-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.special-content > img {
  width: 100%;
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.special-name {
  display: flex;
  justify-content: space-between;
  font-family:'Times New Roman', Times, serif;
}

.special-name > p {
  color: var(--primary-color2);
  font-weight: 600;
}

.special-content > p {
  font-size: .8rem;
}

.order {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.order > img {
  padding-right: 10px;
  transform: rotateY(180deg);
}

.special-name,
.special-content > p,
.order {
  padding: 0px 10px;
}

#testimonials {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #333333;
}

#testimonials > h2 {
  text-align: center;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.testimonial {
  width: 20%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

.profile > img {
  width: 60px;
  border-radius: 10px;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
}
@media screen and (max-width: 768px) {
  #about {
    height: auto;
    padding: 20px;
  }
}
.about-left-section > h1 {
  color: var(--secondary-color);
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
}

.about-left-section > h3 {
  font-family:'Times New Roman', Times, serif;
}

.about-left-section > p {
  margin-top: 20px;
  width: 250px;
}

.about-image {
  border-radius: 5px;
  height: 200px;
}

.top {
  position: relative;
  left: 50px;
  top: 50px;
}

.menu,
.online-order,
.login {
  display: grid;
  place-content: center;
  height: 60vh;
}

@media screen and (max-width: 767px) {
  section {
    padding: 0px 20px;
  }

  nav {
    height: auto;
    padding: 10px;
  }

  nav > ul {
    flex-direction: column;
    gap: 10px; 
  }

  #hero {
    flex-direction: column;
    height: auto;
    margin-bottom: 60px;
  }

  .hero-left-section > h1 {
    font-size: 28px;
  }

  .hero-image {
    top: 0; 
    width: 100%;
    height: auto; 
  }

}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    padding: 0px 50px;
  }

}

@media screen and (min-width: 1024px) {
  section {
    padding: 0px 100px; /* Adjust padding for desktops */
  }

}
.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #0b0b0c;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #f4ce14;
}

@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}
.call-to-action {
  background-color: #495e57;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 5rem 1.2rem 5rem;
  margin-top: -1.4rem;
}

.hero-text > h1 {
  font-size: 3rem;
  margin-top: 0rem;
  margin-bottom: -3rem;
  color:#f4ce14; 
}

.hero-text > h2 {
  font-size: 2.5rem;
}
.hero-image {
  margin-top: 15px;
  max-height: 17rem;
  padding-left: 2rem;
}

.hero-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .hero-image {
    margin-top: 100%;
    max-height: 20rem; /* Adjust max height for smaller screens */
    padding-left: 1rem;
    width:15rem; /* Adjust padding for smaller screens */
  }
}
.form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  flex: 1;
  margin-right: 10px;
}

input,select {
  flex: 2;
  padding: 5px;
}

.booking-container {
  text-align: center;
  padding: 20px;
}


.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 10px;
  color: #2ecc71; /* Success color */
}

.modal-content p {
  margin-bottom: 20px;
  color: #333; /* Text color */
}

.modal-content button {
  background-color: #f4ce14; /* Success color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #f4ce14;
  color:black; /* Darker shade for hover */
}
